# =========================
# Build directories
# =========================
build/
bin/

# =========================
# CMake
# =========================
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# =========================
# Compiled files
# =========================
*.o
*.obj
*.a
*.so
*.dll
*.exe
*.out

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
